<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="fr.univcotedazur.iut.info.m414.projet">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ProjetM414"
            android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".lessons.AdditionLessonActivity"/>
        <activity android:name=".lessons.SubstractionLessonActivity"/>
        <activity android:name=".lessons.MultiplicationLessonActivity"/>
        <activity android:name=".lessons.DivisionLessonActivity"/>
        <activity android:name=".exercices.ExercicesActivity" />
        <activity android:name=".exercices.AdditionExerciceActivity" />
        <activity android:name=".exercices.SoustractionExerciceActivity"/>
        <activity android:name=".exercices.MultiplicationExerciceActivity" />
        <activity android:name=".lessons.LessonsActivity" />
        <activity android:name=".exercices.CustomExercicesActivity"/>
        <activity android:name=".exercices.CreateExerciceActivity"/>
        <activity android:name=".lessons.MultiplicationTableLessonActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
